<include file="Common/meta_section"/>
<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left-side"/>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common:header_section"/>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">

            <ul class="breadcrumb">
                <li>
                    <a href="#">权限管理</a>
                </li>
                <li class="active"> 角色管理 </li>
            </ul>

        </div>
        <!-- page heading end-->

        <div class="container" ng-app="myApps" ng-controller="myCtrl">

            <div class="row">
                <div class="table-responsive" class="col-md-8">
                    <table class="table table-hover table-bordered table-striped table-condensed">
                        <thead>
                        <tr class="success">
                            <th>角色id</th>
                            <th>角色名称</th>
                            <th>开启状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(k,v) in roleList">
                            <td ng-bind="v.id"></td>
                            <td ng-bind="v.name"></td>
                            <td ng-bind="v.status?'是':'否'"></td>
                            <td>

                                <a class="btn btn-primary btn-xs" ng-click="addNodeToRole(v.name,v.id)"><i class="fa fa-wrench" ></i> 配置权限</a>
                                <div class="modal fade bs-example-modal-lg" id="modalid" >
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">【{{rolenow}}】权限配置</h4>{{data}}
                                            </div>
                                            <div class="modal-body">
                                                <form action="" id="myAccessForm" action="{:U(MODULE_NAME.'/Rbac/manageRole')}/action/addAccess">
                                                    <p  ng-repeat="(k,v) in nodeList" ng-style="{'text-indent': v.level*20+'px','float':v.level==3?'left':'','clear':v.level!=3?'both':'','margin-right':'-40px'}">
                                                        <input type="checkbox" id="{{v.id}}" name="access[]" value="{{v.id}}_{{v.level}}" pid="{{v.pid}}" level="{{v.level}}" ng-checked="v.access" ng-click="nodeClickEvent($event,v.id,v.level)"> <span ng-show="v.level!=3" ng-style="{color:'blue'}" >【{{leixing[v.level-1].name}}】</span>{{v.title}}
                                                    </p>

                                                </form>













                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    关闭
                                                </button>
                                                <button type="button" class="btn btn-primary" ng-click="addAccess()">保存</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->





                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>








        <!--footer section start-->
        <include file="Common/footer_section"/>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<script>


//    //input选中dom操作
//        $("body").delegate("input","click",function(){
//            var level=$(this).attr('level');
//            if(level==1){
//                var str='_';
//                var inputs=$('input[value*='+str+']');
//                $(this).attr('checked')?inputs.attr('checked',true):inputs.removeAttr('checked');
//
//            }
//            if(level==2){
//                var id=$(this).attr('id');//意思就是所有父节点为此id的选中
//                //var pid=$(this).attr('pid');
//                //$(this).attr('checked')?$('input[id='+pid+']').attr('checked',true):$('input[id='+pid+']').removeAttr('checked');
//                var inputs=$('input[pid='+id+']');
//                $(this).attr('checked')?inputs.attr('checked',true):inputs.removeAttr('checked');
//
//
//            }
//
//            if(level==3){
//                if($(this).attr('checked')){
//                    var pid=$(this).attr('pid');//相反
//                    $('input[id='+pid+']').attr('checked',true);
//                    var ppid=$('input[id='+pid+']').attr('pid');
//                    var inputs=$('input[id='+ppid+']').attr('checked',true);
//
//                }
//
//
//            }
//            //alert(level);
//        });





    var m=angular.module('myApps',[]);
    m.controller('myCtrl',['$scope','$http',function ($scope,$http) {


        $scope.nodeClickEvent=function($event,id,level){
            var checkbox = $event.target;

            if(level==1){
                var str='_';
                var inputs=$('input[value*='+str+']');
                //console.log(inputs)
                $(checkbox).attr('checked')?inputs.attr('checked','checked'):inputs.removeAttr('checked');

            }
            if(level==2){
                var id=$(checkbox).attr('id');//意思就是所有父节点为此id的选中
                //$(this).attr('checked')?$('input[id='+pid+']').attr('checked',true):$('input[id='+pid+']').removeAttr('checked');
                var inputs=$('input[pid='+id+']');
                $(checkbox).attr('checked')?inputs.attr('checked',true):inputs.removeAttr('checked');


            }

            if(level==3){
                if($(checkbox).attr('checked')){
                    var pid=$(checkbox).attr('pid');//相反
                    $('input[id='+pid+']').attr('checked',true);
                    var ppid=$('input[id='+pid+']').attr('pid');
                    $('input[id='+ppid+']').attr('checked',true);

                }


            }
            //$scope.$apply();

        }


        //根据role的level确定类型
        $scope.leixing=[
            {value:1,name:'项目'},
            {value:2,name:'模块'},
            {value:3,name:'方法'}
        ]
        //获得角色列表
        $http.get("{:U(MODULE_NAME.'/Rbac/manageRole')}/action/getRoleList").then(function ($resp) {
            $scope.roleList=$resp.data;
        })



        $scope.node={};
        $scope.node.status=1;
        $scope.addNode=function () {
            //console.log($scope.node);
            var url="{:U(MODULE_NAME.'/Rbac/addRoleHandle')}"

            //alert(url);
            $http({
                method:'post',
                url:url,
                data:$.param($scope.node),
                headers:{'Content-type':'application/x-www-form-urlencoded'}
            }).then(function ($resp) {
                if ($resp.data.status){
                    layer.alert($resp.data.msg);
                    $scope.node={};
                    $http.get("{:U(MODULE_NAME.'/Rbac/manageRole')}/action/getRoleList").then(function ($resp) {
                        $scope.roleList=$resp.data;
                    })

                }else{
                    layer.msg($resp.data.msg);
                }

            })
        }
        //给角色添加权限模态框
        $scope.addNodeToRole=function (name,id) {
            //获得节点列表
            $http.get("{:U(MODULE_NAME.'/Rbac/manageAdmin')}/action/getNodeListAcess/role_id/"+id).then(function ($resp) {
                $scope.nodeList=$resp.data;
                console.log($scope.nodeList)
            })
            //alert(1111)
            $scope.rolenow=name;
            $scope.role_id=id;
            $('#modalid').modal('show');

        }
        //添加权限接口调用
        $scope.addAccess=function () {
            //obj = document.getElementsByName("access[]");
            obj=$('#modalid').find("input:checked");
            //alert(obj.length);
            check_val = [];
            for(k in obj){
                if(obj[k].checked)
                    check_val.push(obj[k].value);
            }
//            var new_arr=[];
//            for(var i=0;i<check_val.length;i++) {
//                var items=check_val[i];
//                //判断元素是否存在于new_arr中，如果不存在则插入到new_arr的最后
//                if($.inArray(items,new_arr)==-1) {
//                    new_arr.push(items);
//                }
//            }
            //alert(check_val)
            //var access=$('#myAccessForm').find("[name*='access']").val();
            //console.log(check_val);
            var strify = JSON.stringify(check_val);
            var url="{:U(MODULE_NAME.'/Rbac/manageRole')}/action/addAccess"
            $http({
                method:'post',
                url:url,
                data:$.param({access:strify,role_id:$scope.role_id}),
                headers:{'Content-type':'application/x-www-form-urlencoded'}
            }).then(function ($resp) {
                if ($resp.data.status){
                    layer.alert($resp.data.msg);
                    $('#modalid').modal('hide');
                    //获得节点列表
//                    $http.get("{:U(MODULE_NAME.'/Rbac/manageAdmin')}/action/getNodeListAcess/role_id/"+$scope.role_id).then(function ($resp) {
//                        $scope.nodeList=$resp.data;
//                    })


                }else{
                    layer.msg($resp.data.msg);
                }

            })





        }
    }])

</script>


<include file="Common/jsfooter_section"/>

