<extend name="Common/base" />
<block name="content">


<div class="container" ng-controller="rbacManageRoleCtrl">

            <div class="row">
                <div class="table-responsive" class="col-md-8">
                    <table class="table table-hover table-bordered table-striped table-condensed">
                        <thead>
                        <tr class="success">
                            <th>角色id</th>
                            <th>角色名称</th>
                            <th>开启状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(k,v) in roleList">
                            <td ng-bind="v.id"></td>
                            <td ng-bind="v.name"></td>
                            <td ng-bind="v.status?'是':'否'"></td>
                            <td>

                                <a class="btn btn-primary btn-xs" ng-click="addNodeToRole(v.name,v.id)"><i class="fa fa-wrench" ></i> 配置权限</a>
                                <div class="modal fade bs-example-modal-lg" id="modalid" >
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">【{{rolenow}}】权限配置</h4>{{data}}
                                            </div>
                                            <div class="modal-body">
                                                <form action="" id="myAccessForm" action="{:U(MODULE_NAME.'/Rbac/manageRole')}/action/addAccess">
                                                    <p  ng-repeat="(k,v) in nodeList" ng-style="{'text-indent': v.level*20+'px','float':v.level==3?'left':'','clear':v.level!=3?'both':'','margin-right':'-40px'}">
                                                        <input type="checkbox" id="{{v.id}}" name="access[]" value="{{v.id}}_{{v.level}}" pid="{{v.pid}}" level="{{v.level}}" ng-checked="v.access" ng-click="nodeClickEvent($event,v.id,v.level)"> <span ng-show="v.level!=3" ng-style="{color:'blue'}" >【{{leixing[v.level-1].name}}】</span>{{v.title}}
                                                    </p>

                                                </form>













                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    关闭
                                                </button>
                                                <button type="button" class="btn btn-primary" ng-click="addAccess()">保存</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->





                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
</block>





