<extend name="Common/base" />

<block name="content">

    <div class="container"  ng-controller="rbacManageLibrayCtrl">
        <!--<app-baohe-table data="tableData" button-motal-conf="buttonMotalConf" button-motal-data="buttonMotalData" back-url="backUrl" total-item="paginationConf.totalItems"></app-baohe-table>-->
        <!--<app-baohe-table data="tableData" button-motal-conf="buttonMotalConf" page-conf="paginationConf" btn-motal-page-conf="btnMotalPageConf"></app-baohe-table>-->

        <!--<tm-pagination conf="paginationConf"></tm-pagination>-->
        <app-baohe-table btn-motal-page-conf="btnMotalPageConf"></app-baohe-table>



    </div>
</block>




