<extend name="Common/base" />
<block name="content">

<div class="container"  ng-controller="rbacManageNodeCtrl">

            <div class="row">
                <div class="table-responsive" class="col-md-8">
                    <table class="table table-hover table-bordered table-striped table-condensed">
                        <thead>
                        <tr class="success">
                            <th>权限id</th>
                            <th>权限结构</th>
                            <th>名称</th>
                            <th>类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(k,v) in nodeList">
                            <td ng-bind="v.id"></td>
                            <td ng-bind="v.title"></td>
                            <td ng-bind="v.name"></td>
                            <td ng-bind="leixing[v.level-1].name"></td>
                            <td>
                                <button class="btn btn-primary btn-xs" ng-click="deleteNode(v.id)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i> 添加权限
            </button>
            <div style="float: right;margin-right:50px;">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">添加权限</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" name="myForm">
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">英文名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  placeholder="英文名称" ng-model="node.name" required name="name" >
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-check btn-success" ng-show="myForm.name.$dirty && myForm.name.$valid"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">显示中文名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  placeholder="显示中文名称" ng-model="node.title" name="title" required>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-check btn-success" ng-show="myForm.title.$dirty && myForm.title.$valid"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">状态</label>
                                    <div class="col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="node.status" ng-value="1"> 启用
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="node.status"  ng-value="0"> 禁用
                                        </label>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">类型</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="node.level" ng-options="v.value as v.name for v in leixing">
                                            <option value="">请选择</option>

                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">父节点</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="node.pid" ng-options="v.id as v.title for v in nodePidList">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">排序</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  placeholder="排序" ng-model="node.sort" required name="name">
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-check btn-success" ng-show="myForm.name.$dirty && myForm.name.$valid"></i>
                                    </div>
                                </div>



                            </form>






                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" ng-click="addNode()" ng-disabled="myForm.$invalid">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal end -->


        </div>
</block>




