<include file="Common/meta_section"/>
<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left-side"/>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common:header_section"/>
        <!-- header section end-->

        <div class="totol " style=" width: 100%;">
            <form action="{:U('UserManage/index')}" method="post" style="float:left;padding-left:80%;">
                <input type="text" class="search-input" name="searchValue"  required placeholder="订单号/一卡通号/姓名" value=""/>
                <input type="submit" value="检索"  style="margin-right:0;width:80px;"  />
            </form>
        </div>
            <table class="table table-striped" >
                <tr class="hui_top">
                    <th><input type="checkbox" id="all"></th>
                    <th>订单编号</th>
                    <th>快递单号</th>
                    <th>一卡通号</th>
                    <th>订单用户</th>
                    <th>书的id  </th>
                    <th>是否过期</th>
                    <th>还书说明</th>
                    <th>生成时间</th>
                    <th>订单状态</th>
                    <th style="text-align:center;">操作</th>
                </tr>
                <if condition="$returnList neq null">
                <foreach name="returnList" item="returnList">
                <tr class="result_list">
                    <td><input type="checkbox" value="{$returnList['id']}"></td>
                    <td>
                        {$returnList['id']}
                    </td>
                    <td>
                        {$returnList['express_num']}
                    </td>
                    <td>
                        {$returnList['card']}
                    </td>
                    <td>
                        {$returnList['user_name']}
                    </td>
                    <td>
                        {$returnList['book_id']}
                    </td>
                    <td>
                        <if condition="$returnList['isOver'] eq 0">
                            否
                        <else />
                            过期<font color="red">{$returnList['overtime']}</font>天
                        </if>
                    </td>
                    <td>
                        {$returnList['return_desc']}
                    </td>
                    <td>
                        {$returnList['create_time']|date='Y-m-d H:i:s',###}
                    </td>
                    <td>
                        <if condition="$returnList['status'] eq 1">
                            <font color="red">已还出</font>
                        <elseif condition="$returnList['status'] eq 2" />
                            <font color="blue">已接收</font>
                        <else />
                            <font color="blue">已还完</font>
                        </if>
                    </td>

                    <td class="choose_td" align="center">
                        <div style="min-width: 80px;">
                            <if condition="$returnList['status'] lt 3">
                                <a href="javascript:;" class="operation" data-id="{$returnList['id']}" data-state="3">审核通过</a>
                            <elseif condition="$returnList['status'] eq 3" />
                                <a href="javascript:;" class="operation" data-id="{$returnList['id']}" data-state="4">发件</a>
                            </if>
                        </div>
                    </td>
                </tr>
                </foreach>

                <else />
                    <tr style=" height:35px;">
                        <td colspan="8" align="center" style=" color: #18c3a7">暂无批次数据……</td>
                    </tr>
                </if>
            </table>
            <button style="" id="getValue">审核完成</button>
        <!--footer section start-->
        <include file="Common/footer_section"/>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>
<script>
    $(".operation").click(function(){
        var id      =   $(this).attr("data-id");
        var status   =   $(this).attr("data-state");
        $.ajax ({
            'url': '{:U("BrowBooksManage/operation")}',
            'type':'post',
            'data':{'id':id, 'status':status},
            'dataType':'json',
            'success':function (data) {
                if (data.code == 200) {
                    alert(data.msg);
                    location.reload();//刷新当前页面.
                }else{
                    alert(data.msg);
                }
            }
        });
    });
    $('#all').click(function(){
        if(this.checked){
            $(".result_list :checkbox").prop("checked", true);
        }else{
            $(".result_list :checkbox").prop("checked", false);
        }
    });
    $('#getValue').click(function(){
        var valArr = new Array;
        $(".result_list input[type='checkbox']:checked").each(function(i){
            valArr[i] = $(this).val();
        });
        var vals = valArr.join(',');
        $.ajax({
            'url' :'{:U("BrowBooksManage/pass")}',
            'type':'post',
            'data': {'arrId':vals},
            'dataType':'json',
            'success':function(data){
//                alert(data);
                if (data.code == 200) {
                    alert(data.msg);
                    location.reload();//刷新当前页面.
                }else{
                    alert(data.msg);
                }
            }
        });
    });
</script>

<include file="Common/jsfooter_section"/>

