<extend name="Common/base" />

<block name="content">
    <div class="container"  ng-controller="fileManageIndexCtrl">


        <div>
                <a type="button" class="btn btn-default " ng-click="catePreFolder()" title="主目录"><i class="fa fa-home"></i></a>
                <a type="button" class="btn btn-default" ng-click="createFileModel()" title="新建文件"><i class="fa fa-file"></i></a>
                <a type="button" class="btn btn-default" ng-click="createFolderModel()" title="新建文件夹"><i class="fa fa-folder"></i></a>
                <a type="button" class="btn btn-default" ng-click="uploadFileMotal()" title="上传文件"><i class="fa fa-upload"></i></a>
                <a type="button" class="btn btn-default " ng-click="catePreFolder(oldDirPath)" title="返回上一层"><i class="fa fa-backward"  ></i></a>


                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">名称:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputEmail3" placeholder="输入名称" ng-model="file.name">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" ng-click="createFile(act)">保存</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




            <hr>





            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr class="success">
                    <th>编号</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>大小</th>
                    <th>可读</th>
                    <th>可写</th>
                    <th>可执行</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>访问时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(k,v) in fileList.file">
                    <td>{{k+1}}</td>
                    <td>{{v.name}}</td>
                    <td><i class="fa fa-file " style="color:green" aria-hidden="true" ng-if="v.type=='file'"></i><i class="fa fa-folder" style="color:yellow" aria-hidden="true" ng-if="v.type=='dir'"></i></td>

                    <td>{{v.size}}</td>
                    <td><i class="fa fa-check " style="color:green" aria-hidden="true" ng-if="v.readable"></i><i class="fa fa-times" style="color:red;" aria-hidden="true" ng-if="!v.readable"></i></td>
                    <td><i class="fa fa-check " style="color:green" aria-hidden="true" ng-if="v.writeable"></i><i class="fa fa-times" style="color:red" aria-hidden="true" ng-if="!v.writeable"></i></td>
                    <td><i class="fa fa-check " style="color:green"aria-hidden="true" ng-if="v.executable"></i><i class="fa fa-times"  style="color:red"aria-hidden="true" ng-if="!v.executable"></i></td>
                    <td>{{v.createtime*1000|date:'yyyy-MM-dd'}}</td>
                    <td>{{v.modifytime*1000|date:'yyyy-MM-dd'}}</td>
                    <td>{{v.visttime*1000|date:'yyyy-MM-dd'}}</td>
                    <td>
                        <a type="button" class="btn btn-primary btn-xs" title="查看" ng-click="v.type=='file'?catFile(v.name):cateFolder(v.name)"><i class="fa fa-eye"></i></a>
                        <button type="button" class="btn btn-primary btn-xs" title="编辑" ng-click="editFile(v.name)" ng-disabled="v.type=='dir'"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-primary btn-xs" title="重命名"  ng-click="v.type=='file'?renameFile(v.name):renameFolder(v.name)"><i class="fa fa-file-o"></i></button>
                        <button type="button" class="btn btn-primary btn-xs" title="复制" ng-click="v.type=='file'?copyFile(v.name):copyFolder(v.name)"><i class="fa fa-copy"></i></button>
                        <button type="button" class="btn btn-primary btn-xs" title="剪切" ng-click="v.type=='file'?cutFile(v.name):cutFolder(v.name)"><i class="fa fa-scissors"></i></button>
                        <button type="button" class="btn btn-primary btn-xs" title="删除" ng-click="v.type=='file'?trashFile(v.name):trashFolder(v.name)"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-primary btn-xs" title="下载" ng-click="downloadFile(v.name)"><i class="fa fa-download"></i></button>


                    </td>
                </tr>

                <!--<tr ng-repeat="(k,v) in fileList.dir">-->
                    <!--<td>{{k+1}}</td>-->
                    <!--<td>{{v.name}}</td>-->
                    <!--<td><i class="fa fa-file " style="color:green" aria-hidden="true" ng-if="v.type=='file'"></i><i class="fa fa-folder" style="color:green;" aria-hidden="true" ng-if="v.type=='dir'"></i></td>-->

                    <!--<td>{{v.size}}</td>-->
                    <!--<td><i class="fa fa-check " style="color:green" aria-hidden="true" ng-if="v.readable"></i><i class="fa fa-times" style="color:red;" aria-hidden="true" ng-if="!v.readable"></i></td>-->
                    <!--<td><i class="fa fa-check " style="color:green" aria-hidden="true" ng-if="v.writeable"></i><i class="fa fa-times" style="color:red" aria-hidden="true" ng-if="!v.writeable"></i></td>-->
                    <!--<td><i class="fa fa-check " style="color:green"aria-hidden="true" ng-if="v.executable"></i><i class="fa fa-times"  style="color:red"aria-hidden="true" ng-if="!v.executable"></i></td>-->
                    <!--<td>{{v.createtime*1000|date:'yyyy-MM-dd'}}</td>-->
                    <!--<td>{{v.modifytime*1000|date:'yyyy-MM-dd'}}</td>-->
                    <!--<td>{{v.visttime*1000|date:'yyyy-MM-dd'}}</td>-->
                    <!--<td>-->
                        <!--<a type="button" class="btn btn-primary btn-xs" title="查看" ng-click="catFile(v.name)"><i class="fa fa-eye"></i></a>-->
                        <!--<button type="button" class="btn btn-primary btn-xs" title="编辑" ng-click="editFile(v.name)"><i class="fa fa-edit"></i></button>-->
                        <!--<button type="button" class="btn btn-primary btn-xs" title="重命名" ng-click="renameFile(v.name)"><i class="fa fa-file-o"></i></button>-->
                        <!--<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-copy"></i></button>-->
                        <!--<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-scissors"></i></button>-->
                        <!--<button type="button" class="btn btn-primary btn-xs" title="删除" ng-click="trashFile(v.name)"><i class="fa fa-trash-o"></i></button>-->
                        <!--<button type="button" class="btn btn-primary btn-xs" title="下载" ng-click="downloadFile(v.name)"><i class="fa fa-download"></i></button>-->


                    <!--</td>-->
                <!--</tr>-->



                </tbody>
            </table>




        <div class="modal fade bs-example-modal-lg" id="modalid" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title">【{{title}}】</h4>
                    </div>
                    <div class="modal-body">


                        <code class="">
                             <textarea name="" id="" cols="30" rows="20" ng-model="filecontent" class="form-control" ng-readonly="act=='catFile'"></textarea>
                        </code>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="editFileHandler(filename)" ng-if="act!='catFile'">保存</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




        <!-- imageShowMotal modal -->




        <div class="modal fade bs-example-modal-lg" id="imageShowMotal" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title">【{{title}}】</h4>
                    </div>
                    <div class="modal-body row">




                        <div class="col-md-12 img-modal">
                            <img src="__ROOT__/Upload/2.jpg" alt="">

                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- 复制到model -->
        <div class="modal fade bs-example-modal-lg" id="copyToWhere" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title">【{{title}}】</h4>
                    </div>
                    <div class="modal-body row">




                        <!--<div class="col-md-12">-->
                            <!--<div class="panel">-->
                                <!--<div class="panel-heading">-->
                                    <!--Tree Style #2-->
                                    <!--<span class="tools pull-right">-->
                                <!--<a class="fa fa-chevron-down" href="javascript:;"></a>-->
                                <!--<a class="fa fa-times" href="javascript:;"></a>-->
                            <!--</span>-->
                                <!--</div>-->
                                <!--<div class="panel-body">-->
                                    <!--<div id="FlatTree2" class="tree">-->
                                        <!--<div class = "tree-folder" style="display:none;">-->
                                            <!--<div class="tree-folder-header">-->
                                                <!--<i class="fa fa-folder"></i>-->
                                                <!--<div class="tree-folder-name"></div>-->
                                            <!--</div>-->
                                            <!--<div class="tree-folder-content"></div>-->
                                            <!--<div class="tree-loader" style="display:none"></div>-->
                                        <!--</div>-->
                                        <!--<div class="tree-item" style="display:none;">-->
                                            <!--<i class="tree-dot"></i>-->
                                            <!--<div class="tree-item-name"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!-- as a Dom element -->






                        <div class="col-sm-12">
                                <treecontrol class="tree-classic"
                                             tree-model="dataForTheTree"
                                             options="treeOptions"
                                             on-selection="showSelected(node.path)"
                                             selected-node="node1">
                                    {{node.name}}
                                </treecontrol>
                        </div>


                        <div class="col-sm-8 col-sm-offset-0" style="font-size: large;color: blue;">
                            <hr>
                            <p> {{title}}：{{fileList.path+'/'+filename}}</p>
                            <p> 复制到: {{selectedNode}}</p>
                        </div>









                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="copyFileHandler(act)" ng-if="act!='catFile'">确定</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- 复制到motel end -->



        <!-- Modal -->
        <!--<div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" >-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                        <!--<h4 class="modal-title" >上传文件</h4>-->
                    <!--</div>-->
                    <!--<form action="{:U(MODULE_NAME.'/FileManage/uploadFile')}" method="post" enctype="multipart/form-data">-->
                    <!--<div class="modal-body">-->
                        <!--<input type="file" class="form-control"  name="myFile">-->
                        <!--<input type="hidden" ng-value="fileList.path" name="path">-->

                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                        <!--<button type="submit" class="btn btn-primary" >上传</button>-->
                    <!--</div>-->
                    <!--</form>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->


        <!-- 上传文件motal -->


        <!-- Modal -->
        <div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >上传文件</h4>
                    </div>
                        <div class="modal-body">
                            <input type="file" class="form-control"  name="myFile"   id="uploadfilevalue" >

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" ng-click="uploadFileHandler()">上传</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>


        <!-- 上传文件motal -->







    </div>
</block>






<block name="script">
    <script>
        jQuery(document).ready(function() {
            TreeView.init();
        });


    </script>


</block>








