<include file="Common/meta_section"/>
<link rel="stylesheet" href="__PUBLIC__/js/multi_select/css/multi-select.css">

</head>
<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left-side"/>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common:header_section"/>
        <!-- header section end-->


        <!-- page heading start-->
        <div class="page-heading">

            <ul class="breadcrumb">
                <li>
                    <a href="#">文件管理</a>
                </li>
                <li class="active"> 管理文件 </li>
            </ul>

        </div>

        <div class="container" ng-app="myApps" ng-controller="myCtrl">
            <!-- Button trigger modal -->




            <div>
                <a type="button" class="btn btn-default " n-click="" title="主目录"><i class="fa fa-home"></i></a>
                <a type="button" class="btn btn-default" ng-click="createFileModel()" title="新建文件"><i class="fa fa-file"></i></a>
                <a type="button" class="btn btn-default" ng-click="createFolderModel()" title="新建文件夹"><i class="fa fa-folder"></i></a>
                <a type="button" class="btn btn-default "><i class="fa fa-upload" title="上传"></i></a>
                <a type="button" class="btn btn-default "><i class="fa fa-backward" title="返回上一层"></i></a>


                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">名称:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputEmail3" placeholder="输入名称" ng-model="file.name">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" ng-click="createFile(act)">保存</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




            <hr>





            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr class="success">
                    <th>编号</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>大小</th>
                    <th>可读</th>
                    <th>可写</th>
                    <th>可执行</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>访问时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(k,v) in fileList.file">
                    <td>{{k+1}}</td>
                    <td>{{v.name}}</td>
                    <td><i class="fa fa-file " style="color:green" aria-hidden="true" ng-if="v.type=='file'"></i><i class="fa fa-folder" style="color:green;" aria-hidden="true" ng-if="!v.type=='dir'"></i></td>

                    <td>{{v.size}}</td>
                    <td><i class="fa fa-check " style="color:green" aria-hidden="true" ng-if="v.readable"></i><i class="fa fa-times" style="color:red;" aria-hidden="true" ng-if="!v.readable"></i></td>
                    <td><i class="fa fa-check " style="color:green" aria-hidden="true" ng-if="v.writeable"></i><i class="fa fa-times" style="color:red" aria-hidden="true" ng-if="!v.writeable"></i></td>
                    <td><i class="fa fa-check " style="color:green"aria-hidden="true" ng-if="v.executable"></i><i class="fa fa-times"  style="color:red"aria-hidden="true" ng-if="!v.executable"></i></td>
                    <td>{{v.createtime*1000|date:'yyyy-MM-dd'}}</td>
                    <td>{{v.modifytime*1000|date:'yyyy-MM-dd'}}</td>
                    <td>{{v.visttime*1000|date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-file-o"></i></button>
                        <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-copy"></i></button>
                        <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-scissors"></i></button>
                        <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-download"></i></button>


                    </td>
                </tr>
                </tbody>
            </table>

        </div>





        <!--footer section start-->
        <include file="Common/footer_section"/>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<script>

        var m=angular.module('myApps',[]);
        m.controller('myCtrl',['$scope','$http',function ($scope,$http) {
            //console.log($scope.role);
            var url="{:U(MODULE_NAME.'/FileManage/getFileList')}";

            $http.get(url).then(function ($resp) {
                $scope.fileList=$resp.data;
            });
            $scope.createFileModel=function () {
                $scope.title="新建文件";
                $scope.act='createfile';
                $('#myModal').modal('show')
            }

            $scope.createFolderModel=function () {
                $scope.title="新建文件夹";
                $scope.act='createfolder';
                $('#myModal').modal('show')
            }


            $scope.createFile=function (act) {
                $createFileUrl="{:U(MODULE_NAME.'/FileManage/createFile')}/act/"+act+'/name/'+$scope.file.name+'/path/'+$scope.fileList.path;

                $http.get($createFileUrl).then(function ($resp) {

                    if($resp.data.status){
                        $http.get(url).then(function ($resp) {
                            $scope.fileList=$resp.data;
                        });
                        layer.alert($resp.data.msg)
                        $('#myModal').modal('hide')
                    }else{
                        layer.alert($resp.data.msg)
                    }

                })

//                if(act==1){
//
//                    $createFileUrl="{:U(MODULE_NAME.'/FileManage/createFile')}/act/"+act;
//                    alert('file')
//
//                }else{
//                    alert('folder')
//
//                }





            }

            $scope.deleteMessage=function () {

                obj=$('#home').find("input:checked");
                check_val = [];
                for(k in obj){
                    if(obj[k].checked)
                        check_val.push(obj[k].value);
                }
                if(check_val.length==0){
                    layer.alert('您没有选择任何信息!');
                    return false;
                }
                var strify = JSON.stringify(check_val);
                var deleteMessageUrl="{:U(MODULE_NAME.'/MessageManage/deleteMessage')}";
                $http({
                    method:'post',
                    url:deleteMessageUrl,
                    data:$.param({data:strify}),
                    headers:{'Content-type':'application/x-www-form-urlencoded'}
                }).then(function ($resp) {
                    if ($resp.data.status){
                        $http.get(url).then(function ($res) {
                            $scope.libMessages=$res.data;
                        })
                        layer.alert($resp.data.msg);
                    }else{
                        layer.alert($resp.data.msg);
                    }

                })
            }

        }])

</script>






<include file="Common/jsfooter_section"/>
<script src="__PUBLIC__/js/multi-select/jquery.multi-select.js"></script>
<script>
    $('#my_multi_select3').multiSelect()
</script>
</body>
</html>

