<include file="Common/meta_section"/>

</head>
<body class="sticky-header" ng-app="myApps">

<section>
    <!-- left side start-->
    <include file="Common/left-side"/>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common:header_section"/>
        <!-- header section end-->


        <!-- heading start -->
        <include file="Common:pageheading_section"/>
        <!-- heading end -->

        <!-- content start -->



        <block name="content">


        </block>
        <!-- content end -->


        <!--footer section start-->
        <include file="Common/footer_section"/>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>








<include file="Common/jsfooter_section"/>

<block name="script"></block>



</body>
</html>


</html>