<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>



<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>

<!-- 代码高亮 -->

<link rel="stylesheet" href="__PUBLIC__/js/google-code-prettify/prettify.css">
<script src="__PUBLIC__/js/google-code-prettify/prettify.js"></script>
<script src="__PUBLIC__/js/google-code-prettify/run_prettify.js"></script>


<!-- angular-tree-control -->

<script type="text/javascript" src="__PUBLIC__/js/angular-self/module/angular-tree-control/angular-tree-control.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/angular-self/module/angular-tree-control/css/tree-control.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/angular-self/module/angular-tree-control/css/tree-control-attribute.css">


<!-- page分页 -->
<script src="__PUBLIC__/js/angular-self/module/pagination/tm.pagination.js"></script>

<!-- angular-file-upload -->
<script src="__PUBLIC__/js/angular-self/module/angular-file-upload/dist/angular-file-upload.js"></script>


<script src="__PUBLIC__/js/angular-self/app.js"></script>
<script src="__PUBLIC__/js/angular-self/service/service.js"></script>
<script src="__PUBLIC__/js/angular-self/directive/directive.js"></script>
<script src="__PUBLIC__/js/angular-self/controller/controller.js"></script>
<script src="__PUBLIC__/js/angular-self/filter/filter.js"></script>

<!--tree-->
<script src="__PUBLIC__/js/fuelux/js/tree.min.js"></script>
<script src="__PUBLIC__/js/tree-init.js"></script>





