<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">
    <title><block name="title">{$menuname}</block></title>
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>

    <!-- bootstrap -->

    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>



    <!--dashboard calendar-->
    <link href="__PUBLIC__/css/clndr.css" rel="stylesheet">


    <!--common-->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->
    <js file="__PUBLIC__/js/layer/layer.js"/>
    <js file="__PUBLIC__/js/angular.min.js"/>
    <!-- cikonss -->
    <link rel="stylesheet" href="__PUBLIC__/css/cikonss/cikonss.css">
    <!-- select2 -->
    <link rel="stylesheet" href="__PUBLIC__/js/angularjs-select2/common/common.css">
    <link rel="stylesheet" href="__PUBLIC__/js/angularjs-select2/common/plugins/select2/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/js/angularjs-select2/common/plugins/select2/select2-bootstrap.css" />
    <script src="__PUBLIC__/js/angularjs-select2/common/plugins/select2/select2.min.js" type="text/javascript"></script>

    <!-- commonjs -->

    <!-- commoncss -->
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">

    <!-- tree view -->
    <!--external css-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/fuelux/css/tree-style.css" />
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">






